.sign-up-link {
    font-size: 1.2rem;
    margin-left: 8px;
}

.form-container {
    display: block;
    max-width: 300px;
    margin: auto;
  
    background: #eceff1;
    padding: 48px;
    border-radius: 16px;
  
    mat-form-field {
      width: 100%;
    }
  }