.wrapper{
    height: auto;
    width: auto;
    padding : 30px 30px 30px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.config{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    font-weight: 200;
    width: auto;
    height: auto;
    border-radius: 8px;
    background: #EEECF1;
    /* color: rgb(8, 73, 16); */
    margin-bottom: 20px;
    box-shadow:5px 5px 30px #000000;

}

.checkSection{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    margin-left: 5px;
    margin-bottom: 20px;
}
.check{
    margin-right:20px;
    display:flex;
    flex-direction:row;
    align-items: center;
    
}
.optionLabel{
    display: flex;
    align-items: flex-end;
    font-weight: 200;
    font-size: 20px;
    font-family: "max_pinjohnv2regular";

    margin-bottom: 0px;
    line-height: 12px;
    padding-top: 5px;
    
}

.submitBtn{
    display:block;
    width:300px; 
    height:40px;
    border: 3px solid;
    background: #355C7D;
    border-color:#D9DADB;
    border-radius: 8px;
    font-weight: 200;
    font-size: 20px;
    font-family: 'max_pinjohnv2regular';
    color: #FFFFFF;
    text-shadow: 2px 2px 5px black;
    box-shadow:2px 2px 5px black;
    
}