
<section class="wrapper" >
  <div class="overlay" *ngIf="isLoading" >
    <mat-spinner></mat-spinner>
  </div>
  <div class="config" stye="padding-top:10px">
    <div *ngFor="let file of files">
      <app-card  *ngIf="file"[file]="file"></app-card>
    </div>

    <!-- <mat-form-field appearance="fill">
      <mat-label>Value</mat-label>
      <input matInput type="number" [(ngModel)]="age">
    </mat-form-field> -->
    <!-- <p>{{value}}</p> -->
    
    <div class="checkSection">
      <div class = "check">
      <p class="optionLabel">ใส่แว่น</p>
      <mat-checkbox color="primary" [(ngModel)]="eyeGlasses" style="margin-left: 10px;"></mat-checkbox>
      <!-- <p>{{eyeGlasses}}</p> -->
      </div>
      <div class = "check">
      <p class="optionLabel">การยิ้ม</p>
      <mat-checkbox color="primary" [(ngModel)]="smile" style="margin-left: 10px;"></mat-checkbox>
      <!-- <p>{{smile}}</p> -->
      </div>
    </div>
  <div>
    <p class="optionLabel">อายุของใบหน้าผลลัพธ์</p>
    <ngx-slider [(value)]="age" [options]="options" style="width:300px; margin: 50px 10px 50px 10px;"></ngx-slider>
    <!-- <p>{{value}}</p> -->
    <p class="optionLabel">ท่าทาง</p>
    <ngx-slider [(value)]="pose" [options]="poseoptions" style="width:300px; margin: 50px 10px 50px 10px;"></ngx-slider>
    <div class="sliderLabel">
    <p  >ซ้าย</p>
    <p style="margin-left: 250px;">ขวา</p>
    </div>
  </div>
  </div>
  <button  class="submitBtn" (click)="submit()" >สร้างรูปภาพ</button>

  <div #section id="section" class="config" *ngIf="resultFile"  style="margin-top:50px;"   >
  <p class="optionLabel" style="font-size: 40px; 
    margin:40px 0px 20px 0px; 
    ">
    ผลลัพธ์</p>
  <app-card *ngIf="resultFile"  style="margin:0px 10px 0px 10px;" [file]="resultFile"></app-card>
  
  </div>
  
  <app-banner></app-banner>
</section>